[tool.poetry]
name = "{{ project_name }}"
version = "1.0.0"
description = "{{ description }}"
authors = ["{{ author }}"]
packages = [{include = "{{ project_name.replace('-', '_') }}", from = "src"}]

[tool.poetry.dependencies]
python = "^3.12"

[tool.poetry.group.dev.dependencies]
ruff = "^0.3.0"
pytest = "^8.0.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
