# {{ project_name }}

![License: {{ license }}](https://img.shields.io/badge/License-{{ license }}-blue.svg)
![Python {{ stack }}](https://img.shields.io/badge/Python-{{ stack }}-blue.svg)

{{ description }}

---

## Installation

```bash
git clone https://github.com/{{ author }}/{{ project_name }}.git
cd {{ project_name }}
poetry install
```

## Usage

```bash
poetry run {{ project_name }} --help
```

## Contributing

See [CONTRIBUTING.md](CONTRIBUTING.md).

## License

{{ license }} - see [LICENSE](LICENSE)
